
<div class="cardWrapper">
  <div class="cardfront">
  <div class="cardImg" style="background-image: url('./assets/card.jpg')">
  </div>
  <div class="cardDetail">
    <h1 class="subject" title="">Why we’re putting 1.6 million solar panels in Tennessee...</h1>
    <h4 class="author">by Ayus sahu</h4>
    <h4 class="publishDate"><span>,at</span> 20 july 2018</h4>
  </div>


<div class="cardback">
  <p class="discription">
    Hundreds of engineers, electricians and construction workers
    are building two new, energy-efficient Google data
    center campuses in the...
  </p>
  <button type="button" name="button">see more</button>
</div>
</div>



</div>
