.cardWrapper{
  width: 100%;
  float: left;
  height: auto;
  margin-left: 15px;
  border: 1px solid #0000001c;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    transform: rotateY(180deg);
  }

  &:nth-child(4n+1){
    margin-left: 0px;
  }
  .cardfront{
    backface-visibility: hidden;
    float: left;
    width: 100%;
    .cardImg{
      float: left;
      width: 100%;
      height: 150px;

      background-size: cover;
      background-repeat: no-repeat;
    }
    .cardDetail{
      float: left;
      width: 100%;
      padding: 20px 10px;
      box-sizing: border-box;
      height: 90px;
      .subject{
        font-size: 14px;
        padding: 0px 0px 0px 0px;
        color: #7297a9;

      }
      .rating{
        float: left;
        width: 100%;
        padding: 5px 0px ;


        .star{
          width: 15px;
          float: left;
          margin-right: 5px;

          .full_star{

            width: 100%;
            height: 100%;
          }
          .empty_star{
            width: 100%;
            height: 100%
          }
        }

        .fill{
          .full_star{
            display: block;
          }
          .empty_star{
            display: none;
          }
        }
        .empty{
          .full_star{
            display: none;
          }
          .empty_star{
            display: block;
          }
        }
        .count{
          display: inline-block;
          float: left;
          font-size: 12px;
          margin-right: 5px;

        }
        .number{
          display: inline-block;
          float: left;
          font-size: 12px;
        }

      }
      .publishDate{
        font-size: 12px;
        float: left;
        padding: 2px 0px 2px 0px;
        display: inline-block;
        color: #000000;
        opacity: .5;

        span{
          color: #000;
        }


        img{
          width: 10px;
          float: left;
        }

      }
      .author{
        font-size: 12px;
        float: left;
        display: inline-block;
        padding: 2px 2px 2px 2px;
        opacity: .5;
        img{
          float: left;
          width: 10px;
        }

      }

    }
    .cardback{
      background: #eaeaed;
      color: #0087cc;
      text-align: center;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      backface-visibility:hidden;
      position:absolute;
      top: 0px;
      left:0px;
      width: 100%;
      height: 100%;
      .discription{
        float: left;
        width: 100%;
        padding: 15px 15px;
        font-size: 14px;
        box-sizing: border-box;
        text-align: left;
        max-height: 240px;

      }
      button{
        width: 100px;
        height: 27px;
        border-radius: 3px;
        border: 1px solid #d0d0d0;
        background: transparent;
        position: relative;
        font-size: 12px;
        position: absolute;
        bottom: 15px;
        margin: auto;
        left: 50%;
        transform: translateX(-50px);
      }
    }
  }
}
