<div class="topWrapper">
  <app-header></app-header>
  <div class="wrapper">
    <div class="rytWrapper innerWrapper">
      <!-- add new blog wrapper start -->
      <div class="outercardWrapper" routerLink="/blog">
         <div class="addBlog">
            <div class="imgWrapper">
               <img src="./assets/blogIcon.png" alt="Write Blogs">

            </div>
            <p>Just be useful</p>
         </div>
      </div>
      <!-- add new blog wrapper end -->
      <div class="outercardWrapper" routerLink="/cardcollection">
         <div class="categoryCard">
            <div class="imgWrapper">
               <img src="./assets/startup.jpg" alt="Write Blogs">
               <div class="gradiant"></div>
            </div>
            <p class="mainHeading">Start UP</p>
            <p class="numPost">5 post</p>
         </div>
      </div>

      <div class="outercardWrapper" routerLink="/cardcollection">
         <div class="categoryCard">
            <div class="imgWrapper">
               <img src="./assets/startup.jpg" alt="Write Blogs">
               <div class="gradiant"></div>
            </div>
            <p class="mainHeading">Music</p>
            <p class="numPost">5 post</p>
         </div>
      </div>

      <div class="outercardWrapper" routerLink="/cardcollection">
         <div class="categoryCard">
            <div class="imgWrapper">
               <img src="./assets/startup.jpg" alt="Write Blogs">
               <div class="gradiant"></div>
            </div>
            <p class="mainHeading">Education</p>
            <p class="numPost">5 post</p>
         </div>
      </div>

      <div class="outercardWrapper" routerLink="/cardcollection">
         <div class="categoryCard">
            <div class="imgWrapper">
               <img src="./assets/startup.jpg" alt="Write Blogs">
               <div class="gradiant"></div>
            </div>
            <p class="mainHeading">Story</p>
            <p class="numPost">5 post</p>
         </div>
      </div>


    </div>

  </div>
</div>
