<!-- <app-home></app-home> -->
<!-- <app-wall></app-wall> -->
<!-- <app-blog></app-blog> -->
<!-- <app-cardcollection></app-cardcollection> -->
<!-- <app-admin></app-admin> -->
<router-outlet></router-outlet>
