<div class="hashTag">
  <span>#JAVA</span> <span>#ANGULAR</span>
</div>

<div class="widget-title">
  <h3 class="widgetHeading">RECENT</h3>
  <a class="view-all" href="">VIEW ALl</a>
</div>
<div class="resentPostWrapper">
  <div class="leftWrapper">
    <span class="imgWrapper">
      <img src="./assets/card.jpg" alt="">
    </span>
    <h3 class="heading">Small bridge and a beautiful view of the beach</h3>
    <h3 class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
      explicabo voluptatibus minus inventore omnis ipsum porro amet possimus distinctio
    </h3>
      <h5 class="author"><span>by </span>Ayush Sahu<span> - August 23, 2016</span></h5>
  </div>

  <div class="rightWrapper">
    <ul>
      <li>
        <span>
          <img src="./assets/card.jpg" alt="">
        </span>
        <div class="rytWapper">
          <h3 class="heading">Small bridge and a beautiful view of the beach</h3>
          <span class="date">August 23, 2016</span>
        </div>
      </li>
      <li>
        <span>
          <img src="./assets/card.jpg" alt="">
        </span>
        <div class="rytWapper">
          <h3 class="heading">Small bridge and a beautiful view of the beach</h3>
          <span class="date">August 23, 2016</span>
        </div>
      </li>
      <li>
        <span>
          <img src="./assets/card.jpg" alt="">
        </span>
        <div class="rytWapper">
          <h3 class="heading">Small bridge and a beautiful view of the beach</h3>
          <span class="date">August 23, 2016</span>
        </div>
      </li>
      <li>
        <span>
          <img src="./assets/card.jpg" alt="">
        </span>
        <div class="rytWapper">
          <h3 class="heading">Small bridge and a beautiful view of the beach</h3>
          <span class="date">August 23, 2016</span>
        </div>
      </li>
    </ul>
  </div>
</div>



<div class="widget-title">
  <h3 class="widgetHeading">BUSINESS</h3>
  <a class="view-all" href="">VIEW ALl</a>
</div>
<div class="cardWrapper">
  <div class="leftwrapper">
    <img src="./assets/card.jpg" alt="">
  </div>
  <div class="rightWrapper">
    <h3 class="heading">Small bridge and a beautiful view of the beach</h3>
    <h4 class="title">MENTAL HEALTH</h4><h4 class="title">CODING</h4>
    <h3 class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
      explicabo voluptatibus minus inventore omnis ipsum porro amet possimus distinctio
    </h3>
    <h5 class="author"><span>by </span>Ayush Sahu<span> - August 23, 2016</span></h5>
  </div>
</div>

<div class="cardWrapper">
  <div class="leftwrapper">
    <img src="./assets/card.jpg" alt="">
  </div>
  <div class="rightWrapper">
    <h3 class="heading">Small bridge and a beautiful view of the beach</h3>
    <h4 class="title">MENTAL HEALTH</h4><h4 class="title">CODING</h4>
    <h3 class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
      explicabo voluptatibus minus inventore omnis ipsum porro amet possimus distinctio
    </h3>
    <h5 class="author"><span>by </span>Ayush Sahu<span> - August 23, 2016</span></h5>
  </div>
</div>

<div class="cardWrapper">
  <div class="leftwrapper">
    <img src="./assets/card.jpg" alt="">
  </div>
  <div class="rightWrapper">
    <h3 class="heading">Small bridge and a beautiful view of the beach</h3>
    <h4 class="title">MENTAL HEALTH</h4><h4 class="title">CODING</h4>
    <h3 class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
      explicabo voluptatibus minus inventore omnis ipsum porro amet possimus distinctio
    </h3>
    <h5 class="author"><span>by </span>Ayush Sahu<span> - August 23, 2016</span></h5>
  </div>
</div>
