.hashTag{
  float: left;
  width: 100%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  span{
    float: left;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    padding: 2px 9px;
    border-width: 1px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    pointer-events: auto;
    border-style: solid;
    text-shadow: none;
    border-color: #e6e6e6;
    background-color: #e6e6e6;
    color: #000;
  }
}
.resentPostWrapper{
  float: left;
  width: 100%;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  .leftWrapper{
    float: left;
    width: 50%;
    padding-right: 24px;
    box-sizing: border-box;
    .imgWrapper{
      width: 100%;
      img{
        width: 100%;
      }
    }
    .heading{
      font-size: 16px;
      color: #7297a9;
      margin-bottom: 5px;
    }
    .description{
      font-size: 14px;
      color: black;
      font-weight: normal;
      float: left;
      width: 100%;
      min-height: 70px;
      margin: 5px 0px;
    }
    .author{
      font-size: 14px;
      color: black;
      bottom: 0px;
      span{
        color: #0000007d;
        font-weight: normal;
      }
    }
  }
  .rightWrapper{
    float: left;
    width: 50%;
    box-sizing: border-box;

    ul{
      width: 100%;
      list-style-type: none;
      float: left;
      li{
        float: left;
        width: 100%;
        margin-top: 10px;
         &:first-child{
           margin-top: 0px;
         }
        span{
          float: left;
          width: 80px;
          height: 65px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .rytWapper{
          height: 65px;
          float: right;
          width: calc(100% - 80px);
          box-sizing: border-box;
          padding-left: 5px;
          position: relative;
          .heading{
            font-size: 14px;
            color: #7297a9;
          }
          .date{
            color: #0000007d;
            font-weight: normal;
            font-size: 14px;
            float: left;
            width: 100%;
            height: auto;
            position: absolute;
            bottom: 0px;
          }
        }
      }
    }
  }
}



.cardWrapper{
  float: left;
  width: 100%;
  border: 1px solid #e9ebee;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  height: 170px;border-radius: 3px;
  margin-bottom:15px;
  .leftwrapper{
    float: left;
    height: 100%;
    width: 240px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .rightWrapper{
    position: relative;
    float: right;
    width: calc(100% - 240px);
    padding-left: 15px;
    box-sizing: border-box;
    height: 100%;
    h3.heading{
      font-size: 16px;
      color: #7297a9;
      margin-bottom: 5px;
    }
    h4.title{
      float: left;
      font-size: 11px;
      text-transform: uppercase;
      color: #8c8c8c;
      font-weight: 500;
      margin-right: 5px;

    }
    h5.author{
      font-size: 14px;
      color: black;
      position: absolute;
      bottom: 0px;
      span{
        color: #0000007d;
        font-weight: normal;
      }
    }
    h3.description{
      font-size: 14px;
      color: black;
      font-weight: normal;
      float: left;
      width: 100%;
      min-height: 70px;
      margin: 5px 0px;
    }
  }
}


.widget-title{
  position: relative;
  float: left;
  width: 100%;
  height: -56px;
  background-color: transparent;
  display: block;
  border-bottom: 2px solid #111111;
  margin: 15px 0px 0px 0px;
  .widgetHeading{
    position: relative;
    float: left;
    height: 28px;
    background-color: #111111;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
    padding: 0 15px;
    margin: 0;
  }
  .view-all{
    float: right;
    height: 28px;
    font-size: 13px;
    color: #111111;
    line-height: 28px;
    padding: 0;
    transition: color .17s ease;
  }
}
