<div class="topWrapper">
  <app-header></app-header>
  <div class="wrapper">

    <!-- <app-profile-header></app-profile-header> -->

    <div class="leftWrapper">

      <div class="searchWrapper">
        <input type="search" placeholder="search">
      </div>

      <app-categories-widget></app-categories-widget>
      <app-top-post></app-top-post>
    </div>

    <div class="rytWrapper">


      <!-- add new blog wrapper start -->
      <!-- <div class="outercardWrapper" routerLink="/admin">
         <div class="addBlog">
            <div class="imgWrapper">
               <img src="./assets/blogIcon.png" alt="Write Blogs">

            </div>
            <p>Just be useful</p>
         </div>
      </div> -->
      <!-- add new blog wrapper end -->

      <div class="outercardWrapper2"  routerLink="/blog">
        <app-outercard></app-outercard>
      </div>


    </div>

  </div>
</div>
