<div class="topWrapper">
  <app-header></app-header>
  <div class="wrapper">
    <div class="rytWrapper innerWrapper">

      <!-- add new blog wrapper start -->
      <div class="outercardWrapper" routerLink="/blog">
         <div class="addBlog">
            <div class="imgWrapper">
               <img src="./assets/blogIcon.png" alt="Write Blogs">
            </div>
            <p>Just be useful</p>
         </div>
      </div>
      <!-- add new blog wrapper end -->


      <!-- card start  -->
      <div class="outercardWrapper" routerLink="/blog">
        <app-card></app-card>
      </div>

      <div class="outercardWrapper" routerLink="/blog">
        <app-card></app-card>
      </div>

      <div class="outercardWrapper" routerLink="/blog">
        <app-card></app-card>
      </div>

      <div class="outercardWrapper" routerLink="/blog">
        <app-card></app-card>
      </div>

      <div class="outercardWrapper" routerLink="/blog">
        <app-card></app-card>
      </div>

      <div class="outercardWrapper" routerLink="/blog">
        <app-card></app-card>
      </div>

      <div class="outercardWrapper" routerLink="/blog">
        <app-card></app-card>
      </div>

      <div class="outercardWrapper" routerLink="/blog">
        <app-card></app-card>
      </div>

      <div class="outercardWrapper" routerLink="/blog">
        <app-card></app-card>
      </div>

      <div class="outercardWrapper" routerLink="/blog">
        <app-card></app-card>
      </div>
      <!-- card end  -->

    </div>

  </div>
</div>
