.wrapper{
  width: 1000px;
  margin: auto;
  *{
    box-sizing: border-box;
  }
  .innerWrapper{
    float: left;
    width: 100%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    .titleWrapper{
      float: left;
      width: 100%;
      .editButton{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 29px;
        height: 29px;
        border: 1px solid #0000001c;
        color: white;
        background-color: #15b3c38c;
        font-size: 14px;
        box-shadow: inset 1px 1px 2px 1px #ccc8c852, 3px 3px 2px 1px #ccc8c852;
        cursor: pointer;
        float: right;
        img{
          width: 10px;
          height: 10px;
        }
      }
      .saveButton{
        button{
          border: 1px solid #0000001c;
          color: white;
          background-color: #15b3c38c;
          border-radius: 3px;
          padding: 5px 15px;
          font-size: 14px;
          box-shadow: inset 1px 1px 2px 1px #ccc8c852, 3px 3px 2px 1px #ccc8c852;
          cursor: pointer;
          float: right;
        }
      }
      .title{
        float: left;
        margin-right: 10px;
        display: inline-block;
        position: relative;
        padding: 2px 9px;
        border-width: 1px;
        font-size: 13px;
        line-height: 16px;
        font-weight: 600;
        text-transform: uppercase;
        pointer-events: auto;
        border-style: solid;
        text-shadow: none;
        border-color: #e6e6e6;
        background-color: #e6e6e6;
        color: #000;
      }
    }
    .selectCatWrapper{
      float: left;
      width: 250px;
      position: relative;
      span{
        width: 100%;
        float: left;
        margin-right: 10px;
        display: inline-block;
        position: relative;
        padding: 5px 60px 5px 9px;
        border-width: 1px;
        font-size: 13px;
        line-height: 16px;
        font-weight: 600;
        text-transform: uppercase;
        pointer-events: auto;
        border-style: solid;
        text-shadow: none;
        border-color: #e6e6e6;
        color: #000;
        cursor: pointer;
         img{
           width: 10px;
            position: absolute;
            right: 10px;
            top: 8px;
         }
      }
      ul{
        list-style-type: none;
        border: 1px solid #e6e6e6;
        width: 100%;
        position: absolute;
        top: 100%;
        z-index: 1;
        background-color: #ffffff;
        li{
          border-bottom: 1px solid #e6e6e6;
          padding: 5px 10px;
          font-size: 14px;
          color: black;
           &:last-child{
             border-bottom: 0px;
           }
           &:hover{
             background-color: #e6e6e6;
             cursor: pointer;
           }
        }
      }
    }
    .topHeadingWrapper{
      float: left;
      width: 100%;
      .mainheading{
        float: left;
        width: 100%;
        font-size: 22px;
        margin-top: 15px;
      }
      .briefSummary{
        float: left;
        width: 100%;
        font-size: 14px;
        font-weight: normal;
        margin-top: 5px;
        color: #000000c7;
      }
      .author{
        float: left;
        width: 100%;
        font-size: 16px;
        margin-top: 20px;
        span{
          font-weight: normal;
        }
      }
    }
    .mainBlogContent{
      float: left;
      width: 100%;
      margin-top: 20px;
      img{
        float: left;
        width: 100%;
        margin: 20px 0px;
      }
    }
  }
}

.editorWrapper{
  float: left;
  width: 100%;
}

.commentWrapper{
  float: left;
  width: 100%;
  background-color: #fff;
  margin: 20px 0px;
  padding: 20px 20px 0px 20px;
}

.editableDiv{
    border: 1px solid #0000001c;
    padding: 5px;
}
