$backGroundColor:#dcdcdca8;

.outerWrapper{
  width: 100%;
  float: left;
  overflow: hidden;
  .innerWrapper{
    width: 100%;
    float: left;
    height: 100vh;
    background-color: $backGroundColor;
    .leftWrapper{
      width: 60%;
      left: -10%;
      float: left;
      position: relative;
      overflow: hidden;
      transform: skewX(10deg);

      height: 100%;
      background-color:#0000ff;
      .innerLeftWrapper{


        width: 100%;
        float: left;
        transform: skewX(-10deg);
        height: 100%;
        .textWrapper{
          position: relative;
          z-index: 2;
          text-align: center;
          color: white;
          height: 170px;

          overflow: hidden;
          margin-top: 35%;
          transform: translateY(-85px);
          width: 110%;
          h3{
            font-size: 35px;
            word-spacing: 10px;
            margin-top: 15px;
          }
          h2{
            font-size: 30px;
          }
          h6{
            font-size: 15px;
            margin-top: 15px;
            line-height: 21px;
            font-weight: 400;
          }
        }
        .blueWrapper{
          background-image: url('./../../assets/loginScreen/bgimage.png');
          background-size: 28% 30%;
          position: absolute;
          width: 110%;
          float: left;
          top: 0px;
          height: 100%;
          left: 0px;
          background-color: #ffffff50;
          z-index: 1;
        }
      }
    }
    .rightWrapper{
      width: 37%;
      float: right;
      height: 100%;
      .rightInnerWrapper{
        height: 100%;
        position: relative;
        .signinWrapper{
          float: left;
          width: 350px;
          overflow: hidden;
          text-align: center;
          margin-top: 100px;
          padding-bottom: 10px;
          h2{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 50px;
          }
          .inputWrapper{
            display: inline;
            float: left;
            clear: both;
            border-bottom: 1px solid blue;
            min-width: 200px;
            width:100%;
            margin-top: 30px;
                padding: 5px 0px;

            input{
              width: 80%;
              float: left;
              box-shadow: none!important;
              border:none!important;
              font-size: 14px;
              background: transparent;
              &:focus{
                box-shadow: none!important;
                border:none!important;
              }
            }
            span{
              float: right;
              img{
                width: 18px;
              }

            }
          }
          .dropdoen{
            width: 40%;
            display: inline;
            float: left;
            border-bottom: 1px solid blue;
            margin-top: 30px;
            padding: 5px 0px;
            position: relative;
            .gen{
              float: left;
              font-size: 14px;
              color: #8c8c8c;
              cursor: pointer;
              text-align: left;
              width: 100%;
            }

             span{
               position: absolute;
              right: 0px;
               img{
                width: 18px;
               }
             }
             ul{
              top: 102%;
               position: absolute;
              width: 100%;
              background-color: #8c8c8c33;

              list-style-type: none;
               li{
                 font-size: 12px;
                 padding: 10px;
                 text-align: left;
                 cursor: pointer;
                 border:1px solid  #f7f7f7;
               }
             }

          }
          .dob{
            width: 40%;
            display: inline;
            float: right;
            border-bottom: 1px solid blue;
            margin-top: 30px;
            padding: 5px 0px;
            input{
              width: 100%;
              background: transparent;
              box-shadow: none;
              border:none;
            }
          }
          .forgetWrapper{
            float: left;
            width: 100%;
            padding: 15px 0px;
             input{
               display: none;
             }
             label{
              width: 19px;
              height: 19px;
              box-sizing: border-box;
              padding: 2px;
              border:1px solid #8c8c8c;
              border-radius: 3px;
              float:left;
              cursor: pointer;
              img{
                display: none;
              }
             }
             .remember{
               font-size: 14px;
               float: left;
               margin-left: 5px;
             }
             input:checked + label img{
               display:block;

             }
             .forPsw{
               float: right;
               font-size: 14px;
               a{
                 text-decoration: none;

               }
             }
          }
          .buttonWrapper{
            float: left;
            width: 100%;
            text-align: center;
            button{
              background-color: #2196F3;
                padding: 15px;
                width: 130px;
                border: none;
                box-shadow: none;
                font-size: 14px;
                color: white;
                font-weight: 500;
                border-radius: 30px;
                box-shadow: 2px 3px 5px 2px #ababab;
                cursor:pointer;
                 &:hover{
                   box-shadow: 2px 3px 5px 0px #ababab;
                 }
            }
          }
          .diveder{
            float: left;
            width: 100%;
            padding: 15px 65px;
            box-sizing: border-box;
                margin-top: 40px;
            .leftStock{
              float: left;
              width: 50px;
              height: 2px;
              background-color: black;
              position: relative;
              top: 10px;
            }
            .text{
              font-size: 14px;

            }
            .rightStock{
              position: relative;
              top: 10px;
              float: right;
              width: 50px;
              height: 2px;
              background-color: black;
            }
          }
          .socialIcon{
            float: left;
            width: 100%;
            padding: 0px 80px;
            box-sizing: border-box;
            span{
               width: 40px;
               height: 40px;
                border-radius: 100%;
                background-size: cover;
                float: left;
                background-size: 300px 180px;
                background-image: url('./../../assets/loginScreen/socialIcon.png');
                margin-right: 10px;
                cursor: pointer;

                &:last-child{
                  margin-right: 0px;
                }
            }
            .fb{
                 background-position: 289px 350px
            }
            .gmail{
                background-position: 171px 350px
            }
            .twitter{
                   background-position: 228px 350px;
            }
            .in{
                 background-position: 288px 289px;
            }
          }
          .footerSignupWrapper{
            float: left;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 30px;
            left: -60px;
             p{
               font-size: 14px;
               color: black;
               font-weight: 500;
                a{
                  text-decoration: none;
                }
             }
          }

        }
      }
    }
  }
}
